/* --- Main CSS --- */
html,
body {
  height: 100% !important;
  background: #071524 !important;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  background: transparent !important;
}

.main-container {
  text-decoration-style: solid;
}

@media only screen and (min-width: 576px) {
  .main-container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;

    padding-top: 1rem;
    padding-bottom: 1.8rem;
  }

  .main-container:before {
    content: '';
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(150, 150, 150, 0.1);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    margin: -20px;
  }
}

.input-span {
  opacity: 0.6;
}

@media only screen and (max-width: 550px) {
  .open-source {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    opacity: 0;
  }
}

/* Settings sticky icon */
.header-icon {
  height: 2.5rem;
  opacity: 0.25;
}
.header-icon:hover {
  opacity: 0.5;
}

/* Settings sticky button & modal */
.settings-button {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  background: inherit;
  overflow: hidden;

  position: fixed;
  right: 0;
  top: 6rem;
  z-index: 2;

  padding: 0.7rem 0.75rem;
  border-radius: 10px 0 0 10px;
}
.settings-button:before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(184, 183, 183, 0.1);
  -webkit-backdrop-filter: blur(0.125rem);
  backdrop-filter: blur(0.125rem);
  margin: -20px;
}
.settings.modal-content {
  background: rgba(150, 150, 150, 0.125) !important;
}
.settings.modal-header {
  border-bottom: 1px solid rgba(55, 54, 68, 0.9);
}
.settings.modal-footer {
  border-top: 1px solid rgba(55, 54, 68, 0.9);
}
.settings.btn-primary {
  color: rgb(245, 245, 245) !important;
  background-color: rgba(3, 102, 209, 0.33) !important;
  border: rgba(3, 102, 209, 0.9) solid 1px !important;
}
.settings.btn {
  opacity: 0.8;
}
.settings.btn:hover {
  opacity: 1;
}
.settings.close {
  color: white;
  text-shadow: 0 0;
}
.to-span {
  padding: 0;
}
#change-language {
  background: rgba(0, 0, 0, 0) !important;
  border-color: rgba(3, 102, 209, 0.5) !important;
}
@media only screen and (min-width: 992px) {
  .first-page {
    padding-right: 5px;
  }
  .last-page {
    padding-left: 5px;
  }
}

/* Input rages style */
input[type='range'] {
  height: 20px;
  -webkit-appearance: none;
  margin-top: 2.5px;
  margin-bottom: 5px;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: rgba(0, 153, 255, 0.99);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #018ae6;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #018ae6;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #018ae6;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #018ae6;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #018ae6;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: #018ae6;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #018ae6;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #018ae6;
}
input[type='range']:focus::-ms-fill-upper {
  background: #018ae6;
}

/* --- Darkmode --- */
body {
  color: rgba(255, 255, 255, 0.75) !important;
}
a {
  color: rgb(58, 177, 255) !important;
  text-decoration-color: initial !important;
  background-color: transparent !important;
}
.text-muted {
  color: rgb(170, 170, 170) !important;
}
.header {
  border-bottom-color: rgba(55, 54, 68, 0.9) !important;
}
.header h3 {
  float: none;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .header {
    border-bottom-color: rgba(55, 54, 68, 0) !important;
  }
}
.form-control {
  color: rgb(221, 221, 221) !important;
  background-color: rgba(130, 130, 130, 0.1) !important;
  border-color: rgba(77, 77, 77, 0.25) !important;
}
.badge-primary {
  color: rgb(245, 245, 245) !important;
  background-color: rgba(3, 102, 209, 0.33) !important;
  border: rgba(3, 102, 209, 0.9) solid 1px !important;
  margin-top: 0.5rem;
}
.progress {
  background-color: rgba(131, 131, 156, 0.1) !important;
  float: none;
  opacity: 1;
}
.footer {
  color: rgba(180, 180, 180, 0.9) !important;
  border-top-color: rgba(55, 54, 68, 0.9) !important;
  padding-top: 11.25px;
  margin-bottom: 0.5rem;
}
.footer a {
  color: #007bff;
}
.jumbotron {
  background-color: rgba(100, 100, 100, 0.1) !important;
  padding-top: 14px;
  padding-bottom: 8px;
  margin-bottom: -14px;
}
@media screen and (min-width: 48em) {
  .jumbotron {
    border-bottom-color: initial !important;
  }
}
