/* RTL support */
[dir='rtl'] {
  text-align: right !important;
}

.copy-right {
  float: left !important;
}

.copy-right[dir='rtl'] {
  float: right !important;
  margin-right: 0.12rem !important;
}

.more-info {
  float: right !important;
}

.more-info[dir='rtl'] {
  float: left !important;
  margin-left: 0.12rem !important;
}

.modal-header .close[dir='rtl'] {
  margin: -1rem 75% -1rem auto;
}
